<script>
    import {v4} from 'uuid';

    export let currentRoute;
    export let params;

    const sessionID = v4();
    const CALL_ALIVE = 10;

    let error = null;
    let connectInterval = setInterval(function (){});
    clearInterval(connectInterval);
    async function connectToProjector() {
        const res = await fetch(process.env.API_URL + '/init?session=' + sessionID, {
            method: "GET"
        });
        if(res.status === 200) {
            connectInterval = setInterval(function () {
                fetch(process.env.API_URL + '/alive?session=' + sessionID, {
                    method: "GET"
                });
            }, CALL_ALIVE * 1000);
        }
        if(res.status === 400) {
            error = "UŽIMTA!"
        }
    }

    async function passAction() {
        const res = await fetch(process.env.API_URL + '/action?action=next&data=123&session=' + sessionID, {
            method: "GET"
        });
    }

    async function disconnect() {
        clearInterval(connectInterval);
        const res = await fetch(process.env.API_URL + '/close?session=' + sessionID, {
            method: "GET"
        });
    }
</script>

<button on:click={connectToProjector}>Connect</button>
<button on:click={passAction}>Action</button>
<button on:click={disconnect}>Disconnect</button>
{#if error !== null}
    <p on:click={() => error = null}>{error}</p>
{/if}